@model CompanyRegistration.Models.ClS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClS</h4>
    <hr />
    <dl class="dl-horizontal">
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.RegisterId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.RegisterId }, new { @class = "btn btn-info" })
          

        </div>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegisterId }) |
    @Html.ActionLink("Back to List", "list")
</p>
